Source: meta-cloud-init
Section: metapackages
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no
# Homepage: https://www.kde.org
# Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/meta-kde
# Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/meta-kde.git

Package: cloud-init-azure
Architecture: all
Depends: cloud-init,
         ${misc:Depends}
Description: TODO.
 .
 TODO.
